body{
    background-image: url("dark_wood.png");
}
#Header {
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8e41d5;
}

#Hearsder h1{
    font-size: 60px;
    font-family:"Passion One";
    columns: #ffbc00;
}
a{
    color: white;
    font-weight: cold;
    font-size: 24 px;
}
h3{
    color: #ffbc00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom:0px;

}
a:visited {
    background-color:rgb(201, 212, 99);
}

a:hover {
    background-color: rgb(189, 98, 136);
}

a:active {
    background-color: orange;
}

P{
    font-weight:bold;
    color: white;
    font-family: arial;
    text-decoration: underline;
    font-size: 40px;

}
#LeftNav{
    border: solid 8px black;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8e41d5;
} 
#Content{
    border: solid 8px black;
    width: 700px;
    text-align: center;
    padding: 15px; 
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8e41d5;
}
#Footer {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #8e41d5;
}
ul{
    list-style-type: none;
    padding-left: 8px
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}
